doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Pugテスト
  body
    header.header
      h1.sitettl Pugテストサイトタイトル
      nav
        ul
          li: a(href="#") Top
          li: a(href="#") About
          li: a(href="#") Works
          li: a(href="#") Contact

    main.main
      h2.content_ttl トップページタイトル

      p トップページのコンテンツ

    footer.footer
      small copyright
